<form (ngSubmit)="onSubmitForm(form)" #form="ngForm">
    <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom" required ngModel name="nom">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Entrez votre email" required ngModel name="email">
    </div>
    <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe" required ngModel name="password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
</form>
