.form-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-top: 10%;
    margin-bottom: 10%; /* Ajout de la marge supérieure */
}