<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmitForm()" class="needs-validation custom-margin border p-4" novalidate>
        <div class="form-group">
          <label for="name">Nom</label>
          <input id="name" type="text" formControlName="name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" formControlName="message" rows="5" class="form-control" required></textarea>
        </div>
        <div class="action-buttons">
          <button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>
