<form [formGroup]="seminaireForm">   
    <div class="form-group">
        <label for="titre">Titre</label>
        <input id="titre" type="text" formControlName="titre">
    </div>
    <div class="form-group">
        <label for="date">Date :</label>
        <input id="date" type="date" formControlName="date" >
    </div>

    <div class="form-group">
        <label for="intervenant">intervenant</label>
        <input id="intervenant" type="text" formControlName="intervenant" >
    </div>
    <div class="form-group">
        <label for="lieu">Lieu</label>
        <input id="lieu" type="text" formControlName="lieu" >
    </div>
    <div class="form-group">
        <label for="resume">Resume</label>
        <input id="resume" type="text" formControlName="resume" rows="4">
    </div>
    <div class="form-group">
        <label for="domaine">Domaine</label>
        <input id="domaine" type="text" formControlName="domaine" >
    </div>
    <div class="action-buttons">
        <button type="submit" (click)="onSubmitForm()" [disabled]="seminaireForm.invalid">Enregistrer</button>
    </div>
</form>

<div *ngIf="seminairePreview$ | async as seminaire">
    <h2>{{ seminaire.titre }}</h2>
    <p class="info">Mis en ligne le {{ seminaire.date }}</p>
    <p class="info">Intervenant : {{ seminaire.intervenant  }}</p>
    <p class="info">Lieu : {{ seminaire.lieu }}</p>
    <p class="resume">Résumé : {{ seminaire.resume }}</p>
    <p class="domaine">Domaine : {{ seminaire.domaine }}</p>
</div>