<form [formGroup]="seminaireForm" >   
  <div class="form-group">
      <label for="titre">Titre</label>
      <input id="titre" type="text" formControlName="titre">
  </div>
  <div class="form-group">
      <label for="date">Date :</label>
      <input id="date" type="date" formControlName="date" >
  </div>

  <div class="form-group">
      <label for="intervenant">Intervenant</label>
      <input id="intervenant" type="text" formControlName="intervenant" >
  </div>
  <div class="form-group">
      <label for="lieu">Lieu</label>
      <input id="lieu" type="text" formControlName="lieu" >
  </div>
  <div class="form-group">
      <label for="resume">Resume</label>
      <textarea id="resume" formControlName="resume" rows="4"></textarea>
  </div>
  <div class="form-group">
      <label for="domaine">Domaine</label>
      <input id="domaine" type="text" formControlName="domaine" >
  </div>
  <div class="action-buttons">
      <button type="submit" (click)="onSubmitForm()" >Enregistrer</button>
  </div>
</form>
