<button (click)="AddSeminaire()">Ajouter un séminaire</button>
<button (click)="SupSeminaire()">Supprimer un séminaire</button>


<div class="option bg-light py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="trier">
                    <label for="monselect" class="me-2">Trié :</label>
                    <select class="form-select monselect" >
                        <option value="aucun" (click)="applyFiltersByAucun()"selected>Aucun</option>
                        <option value="recent" (click)="applyFiltersByRecent()">Date la plus récente</option>
                        <option value="ancien" (click)="applyFiltersByAncien()">Date la moins récente</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="Domaine text-md-end mt-3 mt-md-0">
                    <label for="monselect2" class="me-2">Domaine :</label>
                    <select class="form-select monselect2" >
                        <option value="tous" (click)="applyFiltersByTous()" selected>Tous</option>
                        <option value="math" (click)="applyFiltersByMath()">Math</option>
                        <option value="physique" (click)="applyFiltersByPhysique()">Physique</option>
                        <option value="informatique" (click)="applyFiltersByInformatique()">Informatique</option>
                        <option value="philosophie" (click)="applyFiltersByPhilosophie()">Philosophie</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>


<app-site *ngFor="let seminaire of seminairesFiltres" [seminaire]="seminaire"></app-site>


